              <div class="col-lg-6">
                <ul class="list-unstyled">
                {% for cat in site.all_categories %}
										<li>
										  <a href="{{cat[2]}}">
											{{cat[1]}}
										  </a>
										</li>
									{% endfor %}
                  <li>
                    <a href="/tags.html">
                      Tags
                    </a>
                  </li>
                  <li>
                    <a href="/archives.html">
                      Archives
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
